@font-face {
   font-family: "Octarine-Bold";
   src: url(../fonts/Octarine-Bold.otf);
}

@font-face {
   font-family: "Baskervville-Regular";
   src: url(../fonts/Baskervville-Regular.ttf);
}

@font-face {
   font-family: "OpenSans-Bold";
   src: url(../fonts/OpenSans-Bold.ttf);
}

// font-family: 'Karla', sans-serif;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Raleway', sans-serif;
// font-family: 'Poppins', sans-serif;

// #86AAC9