.about-yourself{
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
   background: url(../images/blur-bg.png) no-repeat right center/cover;

   .body-wrapper{
      background: #fff;
      border-radius: 25px;
      padding: 25px;
      margin: 0 30px;
      width: 100%;
      max-width: 850px;
      overflow: hidden;
      
      @media screen and (max-width: 767px) {
         padding: 15px 10px 10px 10px;
      }

      .contents{
         border-radius: 25px;
         border: 3px solid #3D71BA;
         padding: 55px 35px 40px;
         position: relative;

         @media screen and (max-width: 767px) {
            padding: 20px 20px 35px;
         }

         &::after{
            content: '';
            position: absolute;
            background: rgb(255, 255, 255);
            height: 30px;
            width: 270px;
            top: -15px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 0;
            @media screen and (max-width: 767px) {
               width: 140px;
            }
         }

         .brand-logo{
            position: absolute;
            max-width: 250px;
            top: -15px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 999999;

            @media screen and (max-width: 767px) {
               max-width: 120px;
            }
         }

         .inner-content{
            .title{
               font-family: "Octarine-Bold";
               font-size: 24px;
               white-space: nowrap;
            }

            img{
               max-width: 125px;
            }

            .text-container{
               padding: 30px;
               background: #D8E8FF;
               border-radius: 25px;
               border-top-left-radius: 0px;
               margin: 40px 0 30px 25px;
               position: relative;
               @media screen  and (max-width: 767px){
                  border-top-left-radius: 25px;  
                  margin: 40px 0 30px;                 
               }

               &::after{
                  content: " ";
                  position: absolute;
                  top: 0;
                  right: 100%;
                  height: 50px;
                  width: 50px;
                  display: inline-block;
                  border-bottom: 25px solid transparent;
                  border-left: 25px solid transparent;
                  border-right: 25px solid #D8E8FF;
                  border-top: 25px solid #D8E8FF;

                  @media screen  and (max-width: 767px){
                     top: -22px;
                     left: 50%;  
                     transform: translateX(-50%) rotate(-45deg);
                  }
               }

               p{
                  font-family: 'Poppins', sans-serif;
                  font-size: 18px;
                  font-weight: 400;
                  line-height: 25px;

                  @media screen  and (max-width: 767px){
                     font-size: 12px;
                     line-height: 16px;
                  }
               }
            }
         }
      }
   }
}