   input[type="range"]{
      position: relative;
      -webkit-appearance: none;
      -moz-appearance: none;
      display: block;
      width: 80%;
      height: 8px;
      border-radius: 8px;
      outline: none;
      background: rgba(#FFFFFF, 0.6);
   }
   
   input[type="range"]::-webkit-slider-runnable-track{
      -webkit-appearance: none;
      height: 6px;
   }
   input[type="range"]::-moz-track{
      -moz-appearance: none;
      height: 6px;
   }
   input[type="range"]::-ms-track{
      appearance: none;
      height: 6px;
   }
   input[type="range"]::-webkit-slider-thumb{
      -webkit-appearance: none;
      height: 30px;
      width: 30px;
      background: rgb(26,187,144);
      background: linear-gradient(0deg, rgba(26,187,144,1) 0%, rgba(88,255,222,1) 100%);
      border-radius: 50%;
      cursor: pointer;
      margin-top: -12px;
      border: 5px solid #ffffff;
      position: relative;
      transform: scale(1.2);
      z-index: 9999;

   }
   input[type="range"]::-moz-range-thumb{
      -webkit-appearance: none;
      height: 30px;
      width: 30px;
      background: rgb(26,187,144);
      background: linear-gradient(0deg, rgba(26,187,144,1) 0%, rgba(88,255,222,1) 100%);
      border-radius: 50%;
      cursor: pointer;
      margin-top: -12px;
      border: 5px solid #ffffff;
      position: relative;
      transform: scale(1);
      z-index: 9999;
   }
   input[type="range"]::-ms-thumb{
      -webkit-appearance: none;
      height: 30px;
      width: 30px;
      background: rgb(26,187,144);
      background: linear-gradient(0deg, rgba(26,187,144,1) 0%, rgba(88,255,222,1) 100%);
      border-radius: 50%;
      cursor: pointer;
      margin-top: -12px;
      border: 5px solid #ffffff;
      position: relative;
      transform: scale(1.2);
      z-index: 9999;
   }

   input[type="range"]:active::-webkit-slider-thumb{
      background: #ffffff;
      border: 5px solid #3D71BA;
   }