// search box css
.search-box{
   box-shadow: 0 0 35px rgba(#000000, 0.12);
   border-radius: 40px;
   padding: 10px;
   width: 740px;

   input{
      font-size: 16px;
      font-weight: 400;
      font-family: 'Poppins', sans-serif;
      border: none;
      padding-left: 30px;
      width: 100%;
      background: transparent;
   }

   .button-primary{
      max-height: 45px;
      max-width: 180px;
      padding: 0 10px;
   }
}

// University cards (cards from search by institute)
.university-card{
   width: 100%;
   max-width: 340px;
   .image{
      background: #fff;
      box-shadow: 0 3px 12px rgba(#000000, 0.16);
      border-radius: 20px;
      padding: 25px 25px 80PX;
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 270px;

      @media screen and (max-width: 767px) {
         min-height: 140px;
      }
   }
   
   .details{
      background: #fff;
      box-shadow: 0 6px 14px rgba(#000000, 0.22);
      border-radius: 16px;
      padding: 15px;
      width: 90%;
      margin: auto;
      margin-top: -55px;
      position: relative;
      z-index: 999;


      .title{
         font-size: 20px;
         font-weight: 500;
         font-family: 'Poppins', sans-serif;
         border-bottom: 1px solid #C9C9C9;
         padding-bottom: 5px;

         @media screen and (max-width: 767px) {
            font-size: 9px;
         }
      }

      .mini-info{
         font-size: 12px;
         font-weight: 400;
         font-family: 'Poppins', sans-serif;
         padding-top: 5px;
         padding-bottom: 10px;
         @media screen and (max-width: 767px) {
            padding-bottom: 5px;
            font-size: 6px;
         }
      }

      .button-secondary{
         font-weight: 400;
         font-size: 16px;
         border: 2px solid #FFFFFF;
         box-shadow: 0 3px 6px rgba(#000000, 0.16);
         max-width: 160px;
         padding: 5px 35px;

         &:hover{
            background: #fff;
            border: 2px solid #8f8f8f69;
            color: #05E59C;
         }

         @media screen and (max-width: 767px) {
            font-size: 8px;
            padding: 3px 15px;
         }
      }
   }
}

// course cards (cards from search by course)
.course-card{
   width: 100%;
   max-width: 340px;
   .image{
      background: #707070;
      box-shadow: 0 3px 12px rgba(#000000, 0.16);
      border-radius: 20px;
      // padding: 25px 25px 100PX;
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 385px;

      @media screen and (max-width: 767px) {
         min-height: 156px;
      }
   }
   
   .details{
      background: #fff;
      box-shadow: 0 6px 14px rgba(#000000, 0.22);
      border-radius: 16px;
      padding: 15px;
      width: 90%;
      margin: auto;
      margin-top: -110px;
      position: relative;
      z-index: 999;
      @media screen and (max-width: 767px) {
         margin-top: -60px;
         padding: 10px 15px;
      }


      .title{
         font-size: 20px;
         font-weight: 500;
         font-family: 'Poppins', sans-serif;
         color: #000;
         @media screen and (max-width: 767px) {
            font-size: 8px;
         }
      }

      .mini-info{
         font-size: 12px;
         font-weight: 400;
         font-family: 'Poppins', sans-serif;
         padding-top: 5px;
         padding-bottom: 10px;
         border-bottom: 1px solid #707070;
         @media screen and (max-width: 767px) {
            font-size: 4px;
            padding-bottom: 5px;
         }
      }

      .programmes{
         padding: 8px 0;
         @media screen and (max-width: 767px) {
            padding: 4px 0;
         }
         img{
            @media screen and (max-width: 767px) {
               max-width: 10px;
            }
         }

         span{
            font-size: 9px;
            font-weight: 400;
            font-family: 'Poppins', sans-serif;

            @media screen and (max-width: 767px) {
               font-size: 3px;
            }
         }
      }

      .price-buy{
         align-items: center;
         .price{
            color: #1CD899;
            display: inline-block;
            font-family: 'Poppins', sans-serif;
            font-size: 24px;
            font-weight: 500;

            @media screen and (max-width: 767px) {
               font-size: 9px;
               line-height: 16px;
            }
         }

         .fa-heart{
            color: #BBBBBB;
            font-size: 24px;

            @media screen and (max-width: 767px) {
               font-size: 9px;
            }
         }
      }

      .button-secondary{
         font-weight: 400;
         font-size: 16px;
         border: 2px solid #FFFFFF;
         box-shadow: 0 3px 6px rgba(#000000, 0.16);
         max-width: 160px;
         padding: 5px 35px;

         &:hover{
            background: #fff;
            border: 2px solid #8f8f8f69;
            color: #05E59C;
         }

         @media screen and (max-width: 767px) {
            font-size: 7px;
            padding: 3px 15px;
         }
      }
   }
}

// course cards (cards from search by instructor)
.instructor-card{
   width: 100%;
   max-width: 340px;
   background: #707070;
   box-shadow: 0 3px 12px rgba(#000000, 0.16);
   border-radius: 20px;
   min-height: 385px;
   position: relative;
   overflow: hidden;

   @media screen and (max-width: 767px) {
      min-height: 170px;
   }
   
   .instructor-details{
      background: rgb(0,0,0);
      background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
      padding: 50px 30px 30px;
      width: 100%;
      margin: auto;
      position: absolute;
      bottom: 0;
      z-index: 999;
      @media screen and (max-width: 767px) {
         padding: 15px;
      }

      .name{
         font-size: 20px;
         font-weight: 500;
         font-family: 'Poppins', sans-serif;
         color: #fff;
         padding-bottom: 5px;
         @media screen and (max-width: 767px) {
            font-size: 12px;
         }
      }

      .skills{
         p{
            font-family: 'Poppins', sans-serif;
            font-size: 12px;
            font-weight: 400;
            margin-right: 5px;
            line-height: 15px;
            color: #fff;
            white-space: pre-line;
            letter-spacing: 1.5px;

            @media screen and (max-width: 767px) {
               font-size: 8px;
               line-height: 12px;
               letter-spacing: 0px;
            }
         }
      }
   }
}

// University cards (cards from search by institute)
.course-programming-card{
   width: 100%;
   max-width: 340px;
   .image{
      box-shadow: 0 3px 12px rgba(#000000, 0.16);
      border-radius: 20px;
      padding: 15px 15px 30PX;
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 270px;

      @media screen and (max-width: 767px) {
         min-height: 140px;
         padding: 20px 20px  60PX;
      }

      &.html{
         background: rgb(253,234,133);
         background: linear-gradient(180deg, rgba(253,234,133,1) 0%, rgba(247,147,172,1) 100%);
      }
      &.java{
         background: rgb(64,215,221);
         background: linear-gradient(180deg, rgba(64,215,221,1) 0%, rgba(85,133,237,1) 100%);
      }
      &.language{
         background: rgb(84,224,141);
         background: linear-gradient(180deg, rgba(84,224,141,1) 0%, rgba(66,200,171,1) 100%);
      }
      &.calculus{
         background: rgb(222,52,130);
         background: linear-gradient(180deg, rgba(222,52,130,1) 0%, rgba(166,57,176,1) 100%);
      }

      &.more-1{
         background: rgb(164,109,252);
         background: linear-gradient(0deg, rgba(164,109,252,1) 0%, rgba(220,173,225,1) 100%);
      }
      &.more-2{
         background: rgb(194,230,94);
         background: linear-gradient(180deg, rgba(194,230,94,1) 0%, rgba(114,227,147,1) 100%);
      }
      &.more-3{
         background: rgb(110,173,255);
         background: linear-gradient(0deg, rgba(110,173,255,1) 0%, rgba(138,230,254,1) 100%);
      }
      &.more-4{
         background: rgb(98,196,174);
         background: linear-gradient(180deg, rgba(98,196,174,1) 0%, rgba(51,154,147,1) 100%);
      }
   }
   
   .details{
      background: #fff;
      box-shadow: 0 6px 14px rgba(#000000, 0.22);
      border-radius: 16px;
      padding: 15px;
      width: 90%;
      margin: auto;
      margin-top: -60px;
      position: relative;
      z-index: 999;

      @media screen and (max-width: 767px) {
         padding: 15px 10px 5px;
         margin-top: -50px;
      }


      .title{
         font-size: 20px;
         font-weight: 500;
         font-family: 'Poppins', sans-serif;
         border-bottom: 1px solid #C9C9C9;
         padding-bottom: 5px;

         @media screen and (max-width: 767px) {
            font-size: 9px;
         }
      }

      .mini-info{
         font-size: 12px;
         font-weight: 400;
         font-family: 'Poppins', sans-serif;
         padding-top: 5px;
         padding-bottom: 15px;
         @media screen and (max-width: 767px) {
            padding-bottom: 0px;
            font-size: 6px;
         }
      }

      .button-secondary{
         font-weight: 400;
         font-size: 16px;
         border: 2px solid #FFFFFF;
         box-shadow: 0 3px 6px rgba(#000000, 0.16);
         max-width: 160px;
         padding: 5px 45px;

         &:hover{
            background: #fff;
            border: 2px solid #8f8f8f69;
            color: #05E59C;
         }

         @media screen and (max-width: 767px) {
            font-size: 8px;
            padding: 3px 25px;
         }
      }
   }
}

// testimonial card
.testimonial{
   padding: 100px 0;
   background: url(../images/Course-Priview/testimonial-bg.png) no-repeat top center/cover;
   background-size: 100% 100%;

   .testimonial-card{
      text-align: center;
      padding: 20px 30px 30px;
      background: #fff;

      .title{
         font-family: "Baskervville-Regular";
         font-size: 22px;
         line-height: 26px;
         padding: 20px 10px;

         @media screen and (max-width: 767px) {
            font-size: 20px;            
         }
      }

      p{
         font-family: 'Raleway', sans-serif;
         font-size: 18px;
         line-height: 25px;
         @media screen and (max-width: 767px) {
            font-size: 12px;            
         }
      }
   }

   .testimonials{
      padding: 0 50px;
      margin: 0 30px;
      @media screen and (max-width: 767px) {
         margin: 0;        
      }

      .swiper-button-prev, .swiper-button-next{
         color: #fff;
      }
   }
}