.search-by{
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
   background: url(../images/blur-bg.png) no-repeat right center/cover;

   .body-wrapper{
      background: #fff;
      border-radius: 25px;
      padding: 25px;
      margin: 0 30px;
      width: 100%;
      max-width: 850px;
      overflow: hidden;
      
      @media screen and (max-width: 767px) {
         padding: 15px 10px 10px 10px;
      }

      .contents{
         border-radius: 25px;
         border: 3px solid #3D71BA;
         padding: 70px 100px 40px;
         position: relative;

         @media screen and (max-width: 767px) {
            padding: 20px 15px 35px;
         }

         &::after{
            content: '';
            position: absolute;
            background: rgb(255, 255, 255);
            height: 30px;
            width: 270px;
            top: -15px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 0;
            @media screen and (max-width: 767px) {
               width: 140px;
            }
         }

         .brand-logo{
            position: absolute;
            max-width: 250px;
            top: -15px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 999999;

            @media screen and (max-width: 767px) {
               max-width: 120px;
            }
         }

         .wrapper{
            background: #05E59C;
            border-radius: 25px;
            height: 50px;
            padding: 10px;
            align-items: center;
            justify-content: center;

            &.first{
               margin: 60px 0 40px;
            }

            &.second{
               margin: 40px 0 60px;
            }

            p{
               margin-right: 8px;
            }
            
            a, p{
               color: #fff;
               font-family: 'Montserrat', sans-serif;
               font-weight: 700;
               font-size: 20px;
            }

            span{
               font-size: 20px;
               color: #fff;
               margin: 0 5px;
            }

             
            @media screen and (max-width: 767px) {
               height: 40px;
               margin: 35px 0;

               a, p{
                  font-size: 9px;
               }

               p{
                  margin-right: 3px;
               }

               span{
                  margin: 0;
               }
            }
         }
      }
   }
}